/* reset */
/* main variables */
/*MAIN*/
*, *:before, *:after {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent !important;
  -moz-tap-highlight-color: transparent !important;
  -o-tap-highlight-color: transparent !important; }

body {
  margin: 0px;
  padding: 0px;
  font-family: GothamPro, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, span, p, label, button, input, textarea {
  font-family: GothamPro, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #151515;
  letter-spacing: 0.7px; }

img, svg {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

ul {
  list-style: none; }

input[type='date'], input[type='time'] {
  -webkit-appearance: none; }

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

/* loader */
.loaded .main-wrapper {
  opacity: 0; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

.content {
  height: 889px; }

.btn-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  padding-top: 90px; }

.btn-banner__bg {
  height: 170px;
  width: 100%;
  background-size: cover;
  background-position-x: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1; }

.btn-banner__wrap {
  min-width: 320px;
  width: 100%;
  max-width: 1345px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.btn-banner__button {
  width: 190px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ffe245;
  border-radius: 46px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 50px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  .btn-banner__button:hover {
    background: #ffac39; }

span.btn-banner__title {
  font-size: 33px;
  font-weight: 700;
  color: #3e1f0b;
  max-width: calc(100% - 240px); }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.modal-banner {
  width: 100%;
  height: 100%;
  background: url(../img/modal-fon.jpg) left/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-banner__left {
  width: 45%;
  padding: 0 4% 2vw 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.modal-banner__right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .modal-banner__right:after {
    content: "";
    position: absolute;
    background: url(../img/banner-water.png) left bottom/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: 90px; }

span.modal-banner__left-text {
  display: block;
  font-size: 46px;
  color: rgba(36, 36, 36, 0.9); }

span.modal-banner__left-text--orange {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e76f03;
  margin-top: 6vw;
  display: block; }

span.modal-banner__left-text:nth-child(3) {
  margin-top: 6vw;
  line-height: 1.2; }

.modal-banner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 872px;
  width: 878px;
  background: url(../img/orange-square.png) center/contain no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 155px 0 0 178px;
  margin-top: 30px;
  min-width: 878px;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0; }

span.modal-banner__right-text--light:first-child {
  padding-left: 66px; }

span.modal-banner__right-text--light {
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px; }

span.modal-banner__right-text--yellow {
  font-size: 45px;
  text-transform: uppercase;
  color: #ffe245;
  font-weight: 700;
  margin-bottom: 6px; }
  span.modal-banner__right-text--yellow b {
    font-size: 58px; }

span.modal-banner__right-text--white {
  font-size: 74px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700; }

span.modal-banner__right-text--light:nth-child(4) {
  margin-top: 5px;
  padding-left: 110px;
  margin-bottom: 20px; }

span.modal-banner__right-text--white {
  font-size: 74px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700; }

span.modal-banner__right-text--white:nth-child(6) {
  font-size: 35px;
  margin-top: 10px; }

.modal-banner__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
  margin-left: -130px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modal-banner__btn-box span {
    color: #fff;
    font-size: 22px;
    margin: 0 46px 0 19px; }

.btn-yellow {
  background: #ffe245;
  width: 320px;
  height: 78px;
  color: #151515;
  border-radius: 46px;
  font-size: 22px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .btn-yellow:hover {
    background: #fbe77f; }

a.btn-white {
  color: #fff;
  font-size: 22px;
  border-bottom: 1px solid #fff;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  a.btn-white:hover {
    color: #000;
    border-color: #000; }

button.modal-banner__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px; }
  button.modal-banner__close svg {
    fill: rgba(0, 0, 0, 0.35);
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear; }
  button.modal-banner__close:hover svg {
    fill: #ff8030; }

@media screen and (min-width: 1750px) {
  .btn-banner__bg {
    height: 185px; } }

@media screen and (min-width: 1300px) and (max-width: 1600px) {
  .modal-banner__box {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85); }
  span.modal-banner__left-text {
    font-size: 40px; }
  span.modal-banner__left-text--orange {
    font-size: 50px; } }

@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .modal-banner__box {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75); }
  span.modal-banner__left-text {
    font-size: 38px; }
  span.modal-banner__left-text--orange {
    font-size: 48px; }
  .modal-banner__left {
    padding: 0 3% 2vw 8%; } }

@media screen and (min-width: 991px) and (max-width: 1100px) {
  .modal-banner__box {
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65); }
  span.modal-banner__left-text {
    font-size: 34px; }
  span.modal-banner__left-text--orange {
    font-size: 44px; }
  .modal-banner__left {
    padding: 0 3% 2vw 8%; } }

@media screen and (max-width: 991px) {
  .modal-banner {
    background: url(../img/modal-fon.jpg) right/cover; }
  .modal-banner {
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .modal-banner__left {
    width: 100%;
    padding: 50px 5% 50px 11%; }
  .modal-banner__right {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .modal-banner__right:after {
      margin-left: 130px; }
  .modal-banner__box {
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85); }
  .modal-banner__right:after {
    margin-left: -3px;
    background: url(../img/banner-water-mob.png) left top/cover;
    width: calc(100% + 3px); } }

@media screen and (max-width: 767px) {
  span.modal-banner__left-text {
    font-size: 34px; }
  span.modal-banner__left-text--orange {
    font-size: 42px; }
  .modal-banner__box {
    margin-top: 0; }
  .modal-banner__left {
    padding: 50px 5% 0 11%; }
  .btn-banner {
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px; }
  .btn-banner__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  span.btn-banner__title {
    max-width: 100%;
    margin-bottom: 20px; }
  .btn-banner__button {
    margin-left: 0; }
  .btn-banner__bg {
    height: 100%;
    background-position-x: right; } }

@media screen and (min-width: 560px) and (max-width: 767px) {
  .modal-banner__right {
    height: 700px; }
  .modal-banner__box {
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65); } }

@media screen and (min-width: 400px) and (max-width: 560px) {
  .modal-banner__right {
    height: 500px; }
  .modal-banner__box {
    -webkit-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.45); } }

@media screen and (max-width: 400px) {
  .modal-banner__right {
    height: 450px; }
  .modal-banner__box {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4); } }
